.root {
  font-size: 16px;
}

.App {
  color: grey;
  margin: 5rem 17rem;
}

.news-container {
  background-color: rgba(5, 5, 59, 0.685);
  padding: 1rem 0 1rem 1rem;
  margin-top: 0.4rem;
}

a {
  color: white;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

a:hover {
  font-size: 1.1rem;
}

.author {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  font-size: 0.8rem;
}

.searchBtn {
  background-color: white;
  color: black;
  border: 1px solid white;
  cursor: pointer;
  margin-left: 0.5rem;
}

.spinner {
  display: flex;
  justify-content: center;
  color: white;
}
