@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Krona+One&family=Syne:wght@600&display=swap");

body {
  margin: 0;
  font-family: Archivo, "Krona One", Syne, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
